   @keyframes drop-down {
       0% {
           transform: translateY(-100%);
       }

       100% {
           transform: translateY(0%);
       }
   }

   @keyframes drop-1 {
       0% {
           transform: translateX(-100%);
       }

       100% {
           transform: translateX(0%);
       }
   }

   @keyframes drop-2 {
       0% {
           transform: translateX(100%);
       }

       100% {
           transform: translateX(0%);
       }

   }

   @keyframes drop-3 {

       0% {
           transform: translateX(-100%);
       }

       100% {
           transform: rotate(360deg);

       }

   }