:root {
    --bg-blue: #242c53;
    --bg-yellow: #f7ce21;
    --footer-bg: #333333;
    --hover-black: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/***** Header section *****/
/***** Header section *****/
/***** Header section *****/
/***** Header section *****/
/***** Header section *****/


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    z-index: -5;
}


.logo {
    margin-left: 100px;
}

.logo a {
    text-decoration: none;
}


header .three-dot {
    width: 30px;
    margin-right: 100px;
    z-index: -2;

}

.three-dot a {
    text-decoration: none;
    z-index: -2;
}


/****First view****/
/****First view****/
/****First view****/
/****First view****/


.first-view {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 180vh;

}

.side-1 {
    flex-basis: 50%;
    background: white;
    height: 180vh;
    position: relative
}

.side-1 .img-1 {
    width: 550px;
    height: 350px;
    position: absolute;
    left: 40%;
    top: 70px;
    border: 0;
    z-index: 3;
    border-radius: 20px;
    animation-name: drop-1;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.side-1 .img-2 {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 48%;
    left: 35%;
    z-index: 3;
    border: 0;
    border-radius: 20px;
    animation-name: drop-1;
    animation-timing-function: ease;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

.side-1 .img-3 {
    position: absolute;
    top: 25%;
    left: 75%;
    width: 550px;
    height: 350px;
    animation-name: drop-2;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: 1;
    position: relative;
    border-radius: 20px;
    border: 0;
    z-index: 2;

}


.side-1 .img-4 {
    width: 550px;
    height: 420px;
    z-index: 4;
    border: 0;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    left: 70%;
    background: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px;
    line-height: 1.5;
    color: var(--hover-black);
    font-family: sans-serif;
    animation-name: drop-3;
    animation-timing-function: ease;
    animation-duration: 2.5s;
    animation-iteration-count: 1;

}

.img-4 h1 {
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.img-4 h2 {
    font-size: 35px;
    line-height: 1.3;
    padding-bottom: 15px;
}

.img-4 p {
    font-size: 20px;
}

.img-4 p span a {
    color: var(--hover-black);
    text-decoration: none;
    border-bottom: 1px solid black;
}

.img-4 button {
    width: 150px;
    padding: 13px;
    font-weight: 550;
    font-size: 18px;
    margin-top: 25px;
    border: 0;
    border-radius: 20px;
    background: var(--bg-blue);
    color: white;
    transition: all 0.3s;
}

.img-4 button:hover {
    background: var(--bg-yellow);
    color: var(--bg-blue);
}

.side-2 {
    flex-basis: 50%;
    background: var(--bg-yellow);
    height: 180vh;
    z-index: 0;
    animation-name: drop-down;
    animation-timing-function: ease;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    position: relative;

}

/****Second view ****/
/****Second view ****/
/****Second view ****/
/****Second view ****/

.second-view {
    display: block;
    height: 50vh;
    width: 100%;
    color: black;
    text-align: center;
    padding-top: 60px;
    margin-top: 20px;
    font-family: sans-serif;
}

.second-view h1 {
    font-size: 50px;
    color: var(--bg-blue);
    padding-bottom: 20px;
}

.second-view p {
    padding-top: 10px;
    font-size: 19px;
}

/****Third view****/
/****Third view****/
/****Third view****/
/****Third view****/

.third-view {
    background: var(--bg-blue);
    height: 150vh;
    width: 100%;
}

.first-section {
    display: flex;
    justify-content: center;
}

.first-section .box {
    width: 280px;
    height: 260px;
    background: white;
    margin-top: 25px;
    margin: 6px;
    padding: 25px;
    transform: translateY(-50%);
    line-height: 2;
    font-family: sans-serif;
}

.first-section .box .img {
    width: 70px;
    height: 70px;
    background: var(--bg-yellow);
    border: 0;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
}

.first-section .box .img img {
    width: 40px;
    height: 40px;
    text-align: center;
}

.first-section .box h1 {
    font-size: 30px;
}

.first-section .box p {
    line-height: 1.3;
    font-style: italic;
}

/**Second-section **/
/**Second-section **/

.second-section {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: sans-serif;



}

.second-section .section-1 {
    flex-basis: 40%;
    margin-left: 40px;
}

.section-1 h3 {
    letter-spacing: 4px;
}

.section-1 h1 {
    font-size: 50px;
    line-height: 1.1;

    padding: 20px 0;
}

.section-1 p {
    font-size: 20px;
}

.second-section .section-2 {
    flex-basis: 40%;
}

.section-2 h3 {
    font-size: 22px;
    padding: 26px 0;
}

.section-2 p {
    line-height: 1.5;
    font-size: 19px;
}

.section-2 button {
    width: 150px;
    padding: 13px;
    font-weight: 550;
    font-size: 18px;
    margin-top: 25px;
    border: 0;
    border-radius: 20px;
    background: var(--bg-yellow);
    color: var(--bg-blue);
    transition: all 0.3s;
}

.section-2 button:hover {
    background: white;
    color: var(--bg-blue);
}

/****Fourth View****/
/****Fourth View****/
/****Fourth View****/
/****Fourth View****/



.fourth-view {
    position: relative;
    height: 130vh;
}

.fourth-view img {
    position: absolute;
    width: 620px;
    height: 550px;
    top: -20%;
    left: 15%;
    border: 0;
    border-radius: 20px;
    z-index: 1;

}



.sub-section {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
}

.sub-section .section-1 {
    flex-basis: 40%;
}

.fourth-view .image {
    width: 600px;
    height: 500px;
    border-radius: 20px;
    border: 0;
    background: white;
    z-index: 3;
    position: absolute;
    top: 27%;
    left: 48%;
    padding: 50px;
    font-family: sans-serif;
}

.fourth-view .image h1 {
    font-size: 35px;
}

.fourth-view .image p {
    line-height: 1.5;
    padding-bottom: 20px;
}

.fourth-view .image a {
    color: black;
    font-size: 19px;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.fourth-view .image button {
    width: 150px;
    padding: 13px;
    font-weight: 550;
    font-size: 18px;
    margin-top: 25px;
    border: 0;
    border-radius: 20px;
    background: var(--bg-blue);
    color: white;
    transition: all 0.3s;
    display: block;
}

.fourth-view .image button:hover {
    background: var(--bg-yellow);
    color: var(--bg-blue);
}

.sub-section .section-2 {
    flex-basis: 60%;
    background: var(--bg-yellow);
    height: 440px;
}

/***Fifth View***/
/***Fifth View***/
/***Fifth View***/
/***Fifth View***/

.fifth-view {
    height: 100vh;
    width: 100%;
    position: relative;
}

.fifth-view img {
    width: 450px;
    height: 460px;
    position: absolute;
    top: 19%;
    left: 20%;
    border: 0;
    border-radius: 20px;
}

.fifth-view .fifth {
    display: flex;
    align-items: center;
}

.fifth .fifth-1 {
    flex-basis: 45%;
    height: 100vh;
    background: var(--bg-blue);
}

.fifth .fifth-2 {
    flex-basis: 55%;
    background: var(--bg-yellow);
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 150px;
    flex-direction: column;
    font-family: sans-serif;
}

.fifth .fifth-2 h1 {
    font-size: 40px;
    padding-bottom: 25px;
}

.fifth .fifth-2 p {
    line-height: 2.1;
    word-spacing: 9px;
    font-size: 18px;
}

.fifth .fifth-2 span a {
    margin-left: 9px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;

}

.fifth .fifth-2 button {
    width: 150px;
    padding: 13px;
    font-weight: 550;
    font-size: 18px;
    margin-top: 25px;
    border: 0;
    border-radius: 20px;
    background: var(--bg-blue);
    color: white;
    transition: all 0.3s;
    display: block;
}

.fifth .fifth-2 button:hover {
    background: var(--bg-yellow);
    color: var(--bg-blue);
}

/***Sixth View***/
/***Sixth View***/
/***Sixth View***/
/***Sixth View***/

.sixth-view {
    width: 100%;
    height: 120vh;
}

.sixth-view .sixth-1 {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    position: relative;

}

.sixth-view .sixth-1 .img-1 {
    width: 330px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 7%;

}

.sixth-view .sixth-1 .img-2 {
    width: 670px;
    height: 505px;
    position: absolute;
    top: 15%;
    left: 42%;
}

.sixth-view .sixth-1 .sub-sixth-1 {
    width: 420px;
    height: 420px;
    position: absolute;
    top: 75%;
    left: 15%;
    border: 18px solid white;
    border-radius: 50%;
}

.sixth-view .sixth-1 .sub-sixth-2 {
    height: 550px;
    width: 480px;
    font-family: sans-serif;
    background: white;
    position: absolute;
    top: 90%;
    left: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;

}

.sixth-view .sixth-1 .sub-sixth-2 .sub-img {
    width: 100px;
    height: 120px;
    border-radius: 50%;
    background: var(--bg-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 45px 30px;
    padding: 9px;
}

.sixth-view .sixth-1 .sub-sixth-2 .sub-img img {
    width: 80px;
    height: 80px;
}

.sixth-view .sixth-1 .sub-sixth-2 h1 {
    margin: 5px 45px;
    font-size: 37px;
}

.sixth-view .sixth-1 .sub-sixth-2 p {
    margin: 5px 45px;
    line-height: 1.7;
    font-size: 20px;
}

.sixth-view .sixth-1 .sub-sixth-2 p span {
    padding-left: 10px;
}

.sixth-view .sixth-1 .sub-sixth-2 p span a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgb(59, 59, 59);
    padding-bottom: 7px;
}

.sixth-view .sixth-1 .sub-sixth-2 p span a:hover {
    border: 0;
}

.sixth-view .sixth-1 .sub-sixth-2 button {
    width: 150px;
    padding: 13px;
    font-weight: 550;
    font-size: 18px;
    margin: 30px 45px;
    border: 0;
    border-radius: 20px;
    background: var(--bg-blue);
    color: white;
    transition: all 0.3s;
    display: block;
}

.sixth-view .sixth-1 .sub-sixth-2 button:hover {
    background: var(--bg-yellow);
    color: var(--bg-blue);
    cursor: pointer;
}

.sixth-view .sixth-2 {
    width: 100%;
    height: 59vh;
    background: var(--bg-yellow);
}

/**Aside**/
/**Aside**/


aside {
    width: 100%;
    height: 82vh;
}

/***Seventh View***/
/***Seventh View***/
/***Seventh View***/
/***Seventh View***/

.seventh-view {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.seventh-view .seventh-1 {
    background: var(--bg-yellow);
    height: 50vh;
    flex-basis: 38%;
    margin-right: auto;
    position: relative;
}

.seventh-view .inner-seventh {
    width: 380px;
    height: 330px;
    position: absolute;
    top: 55%;
    left: 18%;
    background: var(--bg-blue);
    border-radius: 20px;
    color: white;
    padding: 30px;

}

.seventh-view .inner-seventh h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: var(--bg-yellow);
}

.seventh-view .inner-seventh p {
    line-height: 2;
    font-size: 25px;
    font-family: sans-serif;
}

.seventh-view .inner-seventh .small {
    line-height: 2;
    font-size: 20px;
    font-family: sans-serif;
    float: right;
    padding-top: 10px;
}

.seventh-view .inner-seventh .small span {
    font-size: 25px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.seventh-view .seventh-2 {
    flex-basis: 28%;
    font-family: sans-serif;
    margin-right: 170px;
    margin-top: 25px;
}

.seventh-view .seventh-2 h1 {
    font-size: 40px;
    padding-bottom: 40px;
}

.seventh-view .seventh-2 p {
    font-style: italic;
    font-weight: 540;
    font-size: 20px;
    padding-bottom: 40px;
}

.seventh-view .seventh-2 p span {
    border-bottom: 1px solid rgb(59, 59, 59);
    cursor: pointer;
}

.seventh-view .seventh-2 button {
    width: 150px;
    padding: 13px;
    font-weight: 550;
    font-size: 18px;
    border: 0;
    border-radius: 20px;
    background: var(--bg-blue);
    color: white;
    transition: all 0.3s;
    display: block;
}

.seventh-view .seventh-2 button:hover {
    background: var(--bg-yellow);
    color: var(--bg-blue);
    cursor: pointer;
}

/***Eight View***/
/***Eight View***/
/***Eight View***/
/***Eight View***/


.eight-view {
    width: 50%;
    height: 220vh;
    background: var(--bg-yellow);
    margin-top: 200px;
    position: relative;
}

.eight-view .img-1 {
    position: absolute;
    width: 680px;
    height: 520px;
    border-radius: 20px;
    top: 7%;
    left: 80%;
}

.eight-view .img-2 {
    position: absolute;
    width: 500px;
    height: 320px;
    border-radius: 20px;
    top: 36%;
    left: 48%;
}

.eight-view .img-3 {
    position: absolute;
    width: 330px;
    height: 310px;
    border-radius: 20px;
    top: 55%;
    right: -82%;
}

.eight-view .img-4 {
    position: absolute;
    width: 550px;
    height: 400px;
    border-radius: 20px;
    top: 67%;
    left: 48%;
    background: white;
    font-family: sans-serif;
    padding: 40px 50px;
}

.eight-view .img-4 h2 {
    font-size: 20px;
    padding-bottom: 20px;
}

.eight-view .img-4 h1 {
    font-size: 35px;
}

.eight-view .img-4 p span {
    margin-left: 10px;
    border-bottom: 1px solid rgb(59, 59, 59);
}


/***Ninth View***/
/***Ninth View***/
/***Ninth View***/
/***Ninth View***/

.ninth-view {
    width: 100%;
    height: 75vh;
    background-image: url("images/eleventh-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ninth-view .ninth-1 {
    width: 80%;
    background: white;
    position: absolute;
    top: 30%;
    border-radius: 20px;
    border: 0;
    text-align: center;
    padding: 40px;
    font-family: sans-serif;
}

.ninth-view .ninth-1 h1 {
    padding-bottom: 20px;
}

.ninth-view .ninth-1 .first {
    line-height: 1.7;
    font-size: 20px;
    padding-bottom: 15px;
}

.ninth-view .ninth-1 .inner-ninth-1 input {
    width: 270px;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(229, 229, 229);
    margin: 15px 8px;
}

textarea {
    background: rgb(229, 229, 229);
    border: 0;
    border-radius: 20px;
    padding: 15px;
    font-size: 16px;
    width: 864px;
    display: block;
    margin: 0 auto;
    height: 120px;
    font-family: sans-serif;
}

.ninth-view .ninth-1 button {
    width: 864px;
    padding: 13px;
    font-weight: 550;
    font-size: 18px;
    border: 0;
    border-radius: 20px;
    background: var(--bg-yellow);
    color: white;
    transition: all 0.3s;
    display: block;
    margin: 20px auto;
}

.ninth-view .ninth-1 button:hover {
    background: var(--hover-black);
    color: white;
    cursor: pointer;
}

.ninth-view .ninth-1 .second {
    font-size: 20px;
    padding-top: 8px;
}

.ninth-view .ninth-1 .second span {
    border-bottom: 1px solid rgb(59, 59, 59);
    cursor: pointer;
}

/***Margin***/
/***Margin***/

.margin {
    width: 100%;
    height: 35vh;
}

/***Footer***/
/***Footer***/
/***Footer***/
/***Footer***/

footer {
    width: 100%;
    height: 40vh;
    background: var(--footer-bg);
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: space-around;
}

footer p {
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.5;
}

footer a {
    color: #c4caea;
    font-size: 12px;
}

footer a:hover {
    color: rgb(167, 164, 164);
    text-decoration: none;
}